header .top {
  background: var(--third-color);
  padding:5px 0px;
}
header .top p {
  line-height: 35px;
  color: #fff;
  margin-bottom: 0;
}
header .top .top-menu ul {
  text-align: right;
}
header .top .top-menu ul li {
  margin-left: 15px;
  list-style: none;
  display: inline-block;
}
header .top .top-menu ul li a,
header .top .top-email {
  color: #fff;
  display: inline-block;
  line-height: 35px;
}

header .top .top-menu ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}
header .main-header {
  padding: 10px 0px;
  background-color: var(--secondary-color);
}
header .main-header .container .row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #35373e;
  padding: 30px 0px;
}
header .main-header .container .row .order-1 a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .main-header .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}
header .main-header .form-seach-product {
  padding-top: 12px;
}
header .main-header .form-seach-product select {
  float: left;
  width: 140px;
  box-shadow: none !important;
  background: var(--primary-color);
  color: #fff;
  border: 0 !important;
  height: 40px;
  font-size: 14px;
  border-radius: 0 !important;
}

header .main-header .form-seach-product .input-seach {
  width: calc(100% - 140px);
  position: relative;
  float: left;
}
header .main-header .form-seach-product .input-seach input {
  height: 40px;
  width: 100%;
  border: 1px solid #888888;
  box-shadow: none;
  background: var(--third-color);
  font-size: 14px;
  border-radius: 0 !important;
  color: white;
}
header .main-header .form-seach-product .input-seach button {
  height: 40px;
  border-radius: 0 !important;
  width: 40px;
  background: none;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  border: 0 !important;
}
header .main-header .form-seach-product .input-seach button:hover {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}
header .main-header .icon {
  color: white;
  float: left;
  font-size: 45px;
  line-height: 20px;
  position: relative;
  width: 50px;
  margin-right: 10px;
}
header .main-header .icon span {
  font-size: 14px;
  background: var(--primary-color);
  color: #fff;
  position: absolute;
  top: 0;
  right: 0px;
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
}
header .main-header .info-cart {
  float: left;
}
header .main-header .info-cart p {
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  font-weight: 600;
}

header .main-header a.icon-cart {
  display: inline-block;
  padding-top: 5px;
}

header .main-header .icon-cart:hover .icon,
header .main-header .icon-cart:hover .info-cart p {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}

header .main-header .icon-cart:hover .icon span {
  color: var(--primary-color);
  background-color: white;
  transition: all 0.3s ease 0s;
}
header .main-menu-header {
  background: var(--secondary-color);
  padding-bottom: 10px;
}
header .main-menu-header #nav-menu ul li {
  float: left;
  position: relative;
}
header .main-menu-header #nav-menu ul li a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
}

header .main-menu-header #nav-menu ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}
header .main-menu-header #nav-menu ul li ul {
  position: absolute;
  top: 50px;
  width: 200px;
  background: var(--secondary-color);
  left: 0;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
header .main-menu-header #nav-menu ul li ul li {
  width: 100%;
}
header .main-menu-header #nav-menu ul li ul li a {
  text-transform: inherit;
  width: 100%;
}
header .main-menu-header #nav-menu ul li ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}
header .main-menu-header #nav-menu ul li:hover ul {
  opacity: 1;
  transition: all 0.3s;
  visibility: visible;
  top: 42px;
}
header .main-menu-header #nav-menu ul li.current-menu-item a {
  color: var(--primary-color);
}
#content {
  background-color: #f7f7f9;
}
#content .category-box {
  margin-bottom: 0px;
}
#content .category-box h3 {
  text-transform: uppercase;
  font-size: 16px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 0;
}
#content .category-box .content-cat {
  border: 1px solid #ededed;
  padding: 10px;
}
#content .category-box .content-cat ul li {
  margin: 15px 0px;
}
#content .category-box .content-cat ul li .fa {
  color: var(--primary-color);
  font-size: 20px;
}
#content .category-box .content-cat ul li a {
  color: #333;
  font-size: 16px;
  display: inline-block;
  margin-left: 10px;
}
#content .category-box .content-cat ul li a:hover {
  transition: all 0.3s ease 0s;
  padding-left: 5px;
  color: var(--hover-color);
}
#content .slider {
  margin-bottom: 30px;
}
#content .slider img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
#content .widget {
  margin-bottom: 15px;
}
#content .widget h3 {
  text-transform: uppercase;
  font-size: 16px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 10px 15px;
  margin-bottom: 0;
  position: relative;
}
#content .widget h3 .fa {
  position: absolute;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--hover-color);
  color: #fff;
  text-align: center;
  line-height: 35px;
}
#content .widget .content-w {
  border: 1px solid #ededed;
  padding: 10px;
}
#content .widget .content-w ul li {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
#content .widget .content-w ul li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 1px solid #ededed;
  padding: 1px;
  float: left;
  margin-right: 10px;
}
#content .widget .content-w ul li h4 {
  line-height: 18px;
  margin-bottom: 0px;
}
#content .widget .content-w ul li h4 a {
  font-size: 14px;
  color: #2196f3;
}
#content .widget .content-fb {
  overflow: hidden;
}

.widget_shopping_cart_content .woocommerce-mini-cart {
  list-style: none outside;
  padding: 0;
  margin: 0;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item {
  padding: 4px 0;
  margin: 0;
  list-style: none;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item
  a {
  display: block;
  font-weight: 700;
  color: #333;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item
  a:hover {
  color: var(--hover-color);
  transition: all 0.3s ease 0s;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item
  .remove_from_cart_button:hover {
  color: #fff !important;
  background: red;
  transition: all 0.3s ease 0s;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item
  .remove_from_cart_button {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
}

.widget_shopping_cart_content
  .woocommerce-mini-cart
  .woocommerce-mini-cart-item
  a
  img {
  float: right;
  margin-left: 4px;
  width: 32px;
  height: auto;
  box-shadow: none;
}

.woocommerce-mini-cart__buttons {
  display: flex;
  justify-content: space-around;
}

.woocommerce-mini-cart__buttons .button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  padding: 0.618em 1em;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  color: white;
  background-color: var(--primary-color);
  border: 0;
  display: inline-block;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.woocommerce-mini-cart__buttons .button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: var(--hover-color);
  color: white;
  transition: all 0.3s ease 0s;
}

#content .product-section h2.title-product {
  border-bottom: 2px solid var(--primary-color);
  padding: 5px;
  line-height: 20px;
  margin-bottom: 15px;
}
#content .product-section h2.title-product .title {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}
#content .product-section h2.title-product .list-child {
  float: right;
}
#content .product-section h2.title-product .list-child ul {
  text-align: right;
}
#content .product-section h2.title-product .list-child ul li {
  display: inline-block;
  margin-left: 20px;
}
#content .product-section h2.title-product .list-child ul li a {
  font-size: 15px;
  color: #333;
}
#content .item-product {
  margin-bottom: 30px;
}
#content .item-product .thumb {
  position: relative;
  overflow: hidden;
}
#content .item-product .thumb img {
  width: 100%;
  height: auto;
}
#content .item-product .thumb img:hover {
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}
#content .item-product .thumb .sale {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  color: #fff;
  line-height: 14px;
  background: #ffc107;
  border-radius: 50%;
  padding-top: 6px;
  z-index: 9;
  right: 0;
  top: 0;
  font-size: 12px;
}
#content .item-product .thumb .action {
  position: absolute;
  width: 100%;
  bottom: -50px;
  transition: all 0.3s;
}
#content .item-product .thumb .action a {
  float: left;
  width: 50%;
  display: inline-block;
  padding: 7px 0;
  text-align: center;
  background: var(--primary-color);
  color: #fff;
}
#content .item-product .thumb .action a .fa {
  margin-right: 3px;
}
#content .item-product .thumb .action a:hover {
  background: var(--hover-color);
  transition: all 0.3s ease 0s;
}
#content .item-product .thumb .action a.like {
  background: rgb(252, 204, 62);
}
#content .item-product .thumb .action a.like:hover {
  background: #ffc117;
  transition: all 0.3s ease 0s;
}
#content .item-product .thumb:hover .action {
  transition: all 0.3s;
  bottom: 0px;
}
#content .item-product .info-product h4 {
  margin: 8px 0;
  text-align: center;
  height: 40px;
  overflow: hidden;
  line-height: 18px;
}
#content .item-product .info-product h4 a {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
#content .item-product .info-product h4 a:hover {
  color: var(--hover-color);
  transition: all 0.3s ease 0s;
}
#content .item-product .info-product .price {
  color: #e00;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}
#content .item-product .info-product .price span {
  display: inline-block;
  margin: 0 5px;
}
#content .item-product .info-product .price span.price-old {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  text-decoration: line-through;
}
#content .item-product .info-product a.view-more {
  display: block;
  width: 150px;
  background: var(--primary-color);
  text-align: center;
  margin: 0 auto;
  padding: 7px;
  color: #fff;
  margin-top: 8px;
  border-radius: 3px;
}
#content .item-product .info-product a.view-more:hover {
  background: var(--hover-color);
  transition: all 0.3s ease 0s;
}
#content .bar-menu {
  display: none;
}
footer {
  background: var(--secondary-color);
  color: #fff;
  padding-top: 40px;
}
footer .box-footer h3 {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}
footer .box-footer strong {
  font-weight: 600;
  color: var(--primary-color);
}
footer .box-footer p {
  margin-bottom: 10px;
}
footer .content-list li {
  margin-bottom: 15px;
}
footer .content-list li .fa {
  color: var(--primary-color);
  margin-right: 5px;
}
footer .content-list li a {
  color: #fff;
}

footer .content-list li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease 0s;
}
footer .content-contact .form-control {
  max-height: 80px;
  margin-bottom: 8px;
  font-size: 14px;
  box-shadow: none !important;
  border-radius: 2px;
  border: 1px solid #888888;
  background: var(--third-color);
  color: white;
}
footer .btn-box {
  display: flex;
  justify-content: center;
}
footer button.btn-contact {
  margin-top: 10px;
  border-radius: 30px;
  border: 0;
  padding: 5px 20px;
  color: #fff;
  background: var(--primary-color);
}
footer button.btn-contact:hover {
  background-color: var(--hover-color);
  transition: all 0.3s ease 0s;
}
footer .copyright {
  text-align: center;
  padding: 10px;
  background: var(--third-color);
  margin-top: 40px;
}
footer .copyright p {
  margin-bottom: 0;
}

#content .item-product .info-product .price del * {
  color: #2d2d2d;
  font-size: 12px;
  text-decoration: line-through;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: var(--primary-color);
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: var(--hover-color);
  transition: all 0.3s ease 0s;
}

.woocommerce h2 {
  color: var(--primary-color);
}

.woocommerce-form-login {
  width: 500px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
}

.woocommerce form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  width: 150px;
}

h1.woocommerce-products-header__title.page-title {
  font-size: 35px;
  font-weight: 600;
  color: var(--primary-color);
  line-height: 30px;
  text-align: center;
  margin: 20px 0px;
}

.category-product-page .row {
  padding: 30px 0px;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
  opacity: 1 !important;
}

.wc-tabs{
  display: none;
}